<div class="nftCard">
  <div class="nftCard__header">
    <div>
      <p>{{nft.name}}</p>
      <p><span>#{{nft.number | number: '3.0'}}</span></p>
    </div>
    <img class="nftCard__image" src="assets/images/pokemons/{{nft.name}}.svg" alt="{{nft.name}}">
  </div>
  <div class="nftCard__description">
    <div class="nftCard__type">
      <p *ngFor="let type of nft.type">{{type.type.name}}</p>
    </div>
    <h2 class="nftCard__title">About</h2>
    <div class="nftCard__features">
      <div>
        <div>
          <img src="assets/images/weight.svg" alt="weight">
          <p>{{nft.weight | number : '.2' }}kg</p>
        </div>
        <p>Weight</p>
      </div>
      <div>
        <div>
          <img src="assets/images/height.svg" alt="height">
          <p>{{nft.height| number : '.2' }}m</p>
        </div>
        <p>Weight</p>
      </div>
      <div>
        <ul>
          <li *ngFor="let move of nft.moves">
            {{move.move.name}}
          </li>
        </ul>
        <p>Moves</p>
      </div>
    </div>
    <h2 class="nftCard__title">Base Stats</h2>
    <div class="nftCard__baseStats">
      <ul>
        <li *ngFor="let stat of nft.stats">
          {{stat.stat.name}}
        </li>
      </ul>
      <ul class="nftCard__bars">
        <li *ngFor="let stat of nft.stats">
          <p>{{stat.base_stat | number: '3.0'}}</p>
          <div data-base="stat.base_stat">
            <div></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
