<div class="nftCard">
  <div class="nftCard__header">
    <div>
      <p>{{nft.name}}</p>
      <p><span>#{{nft.number | number: '3.0'}}</span></p>
    </div>
    <!-- <img class="nftCard__image" src="{{nft.image}}" alt="pokeball"> -->
  </div>
  <div class="nftCard__description">
    <div class="nftCard__type">
        <p>Grass</p>
        <p>Poison</p>
    </div>
    <h2 class="nftCard__title">About</h2>
    <div class="nftCard__features">
      <div>
        <div>
          <img src="assets/images/weight.svg" alt="weight">
          <p>6.9kg</p>
        </div>
        <p>Weight</p>
      </div>
      <div>
        <div>
          <img src="assets/images/height.svg" alt="height">
          <p>6.9kg</p>
        </div>
        <p>Weight</p>
      </div>
      <div>
        <ul>
          <li>Chlorophyll</li>
          <li>Overgrow</li>
        </ul>
        <p>Moves</p>
      </div>
    </div>
    <h2 class="nftCard__title">Base Stats</h2>
    <div class="nftCard__baseStats">
      <ul>
        <li>HP</li>
        <li>HP</li>
        <li>HP</li>
        <li>HP</li>
        <li>HP</li>
      </ul>
      <ul class="nftCard__bars">
        <li>
          <p>049</p>
          <div>
            <div></div>
          </div>
        </li>
        <li>
          <p>049</p>
          <div>
            <div></div>
          </div>
        </li>
        <li>
          <p>049</p>
          <div>
            <div></div>
          </div>
        </li>
        <li>
          <p>049</p>
          <div>
            <div></div>
          </div>
        </li>
        <li>
          <p>049</p>
          <div>
            <div></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
