@use './variables';

@mixin paddingResponsive(){
  padding: 6rem 1.5rem;
  @include medium(){
    padding: 6rem 3rem;
  }
  @include xl(){
    padding: 6rem 4.5rem;
  }
  @include xxl(){
    padding: 6rem;
  }
}

@mixin flex( $column, $justify, $align ){
  display: flex;
  flex-direction : $column;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid( $columns, $rows, $gap ){
  display : grid;
  grid-template-columns: repeat( $columns, 1fr );
  grid-template-rows: repeat( $rows, 1fr);
  gap: $gap;
}

@mixin xs(){
 @media( max-width: variables.$small ) {
  @content;
 }
}

@mixin small(){
  @media( min-width: variables.$small ) {
   @content;
  }
 }

@mixin medium(){
  @media( min-width: variables.$medium ){
    @content;
  }
}

@mixin large(){
  @media( min-width: variables.$large){
    @content;
  }
}

@mixin xl(){
  @media( min-width: variables.$xl ){
    @content;
  }
}

@mixin xxl(){
  @media( min-width: variables.$xxl ){
    @content;
  }
}

@mixin typeColor(){
  &.rock{
    background-color: variables.$rockColor;
  }
  &.ghost{
    background-color: variables.$ghostColor;
  }
  &.steel{
    background-color: variables.$steelColor;
  }
  &.water{
    background-color: variables.$watercolor;
  }
  &.grass{
    background-color: variables.$grassColor;
  }
  &.psychic{
    background-color: variables.$psychicColor;
  }
  &.iceColor{
    background-color: variables.$iceColor;
  }
  &.dark{
    background-color: variables.$darkColor;
  }
  &.fairy{
    background-color: variables.$fairyColor;
  }
  &.normal{
    background-color: variables.$normalColor;
  }
  &.fighting{
    background-color: variables.$fightingColor;
  }
  &.flying{
    background-color: variables.$flyingColor;
  }
  &.poison{
    background-color: variables.$poisonColor;
  }
  &.ground{
    background-color: variables.$groundColor;
  }
  &.bug{
    background-color: variables.$bugColor;
  }
  &.fire{
    background-color: variables.$fireColor;
  }
  &.electric{
    background-color: variables.$electricColor;
  }
  &.dragon{
    background-color: variables.$dragonColor;
  }
  &.unknown, &.shadow{
    background-color: variables.$mediumGrayColor;
  }
}

@mixin typeTextColor(){
  &.rock{
    color: variables.$rockColor;
  }
  &.ghost{
    color: variables.$ghostColor;
  }
  &.steel{
    color: variables.$steelColor;
  }
  &.water{
    color: variables.$watercolor;
  }
  &.grass{
    color: variables.$grassColor;
  }
  &.psychic{
    color: variables.$psychicColor;
  }
  &.iceColor{
    color: variables.$iceColor;
  }
  &.dark{
    color: variables.$darkColor;
  }
  &.fairy{
    color: variables.$fairyColor;
  }
  &.normal{
    color: variables.$normalColor;
  }
  &.fighting{
    color: variables.$fightingColor;
  }
  &.flying{
    color: variables.$flyingColor;
  }
  &.poison{
    color: variables.$poisonColor;
  }
  &.ground{
    color: variables.$groundColor;
  }
  &.bug{
    color: variables.$bugColor;
  }
  &.fire{
    color: variables.$fireColor;
  }
  &.electric{
    color: variables.$electricColor;
  }
  &.dragon{
    color: variables.$dragonColor;
  }
  &.unknown, &.shadow{
    color: variables.$mediumGrayColor;
  }
}
