//color palette
$rockColor       :#B69E31;
$ghostColor      :#70559B;
$steelColor      :#B7B9D0;
$watercolor      :#6493EB;
$grassColor      :#74CB48;
$pyschicColor    :#FB5584;
$iceColor        :#9AD6DF;
$darkColor       :#75574C;
$fairyColor      :#E69EAC;
$normalColor     :#AAA67F;
$fightingColor   :#C12239;
$flyingColor     :#A891EC;
$poisonColor     :#A43E9E;
$groundColor     :#DEC16B;
$bugColor        :#A7B723;
$fireColor       :#F57D31;
$electricColor   :#F9CF30;
$dragonColor     :#7037FF;

$darkGrayColor   :#212121;
$mediumGrayColor :#666666;
$lightGrayColor  :#E0E0E0;
$whiteColor      :#FFFFFF;
$backgroundColor :#F7F7F7;

//font-size
$xlFont    : 24px;
$mediumFont: 14px;
$smallFont : 10px;
$xsFont    : 8px;

//Mediaqueries
$small  : 576px;
$medium : 768px;
$large  : 992px;
$xl     : 1200px;
$xxl    : 1400px;

$borderRadius: 1rem;
$cardPadding: 0.5rem;
